<!DOCTYPE html>
<html>
  <head>
    <title>salman hotel</title>/
  </head>
  <body>
    <div style="background-color:green; color:white; padding:30px;">
    <h1>salman local hotel</h1>
    <p><strong>MORNING BREAKFAST.</strong></p>
    <p>* DOSA🥞.</p>
    <p>* IDLY🥟.</p>
    <p>* PONGAL🍜. </p>
    <p> * UPMA🍛.</p>
    <p> * PURI🥠.</p>
    </div>
  </body>
<body>
  <div style="background-color:orange;color:green;padding 50px;">
    <p><strong>AFTERNOON LUNCH.</strong></p>
    <p>* MEALS🍚. </p>
    <P>* CHAPATHI🌮.</P>
    <P>* CURD RICE🍚.</P>
  </div>
</body>
</html>

